*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, :before, *:after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
}
body{
    background-color: #eff0f2;
    font-family: Rubik, sans-serif;
}

/* LOGIN */

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.login-container{
    width: 100%;
    max-width: 418px;
    height: 710px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #d5d5d5;
}
.login-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 85px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #F4F9FF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 57px;
}

.text-black{
    margin-left: 45px;
}
.text-blue{
    color: #60a1ff;
    margin-left: 8px;
}

.login-form{
    box-sizing: border-box;
}

.simple-text{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

p.simple-text{
    margin-top: 35px;
}

.form{
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 45px;
}
.inner_form_block{
    display: block;
    box-sizing: border-box;
}

.inner_form_block label{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.inner_form_block input{
    margin-top: 4px;
    width: 100%;
    height: 48px;
    max-width: 327px;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #BFC4CA;
    border-radius: 4px;
}
.inner_form_block input::placeholder{
    color: #BFC4CA;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;

}

.btn-submit{
    margin: 10px 45px;
    width: 327px;
    height: 48px;
    background-color: #3884F2;
    border-radius: 4px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.1s linear;
}

.btn-submit:hover{
    background-color: #5a98f3;
    cursor: pointer;
}